header {
    margin-top: 0px;
    text-align: right;
}
.main {
    margin-top: 20%;
    text-align: center;
}
.logo {
    margin: 2%;
}
.bar {
    margin: 2%;
    width: 70%;
    height: 4%;
    border-radius: 10px;
    border: 1px solid gray;
}

.bar :focus{
    border: 0px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; ;
}