body{
    background-color: #2596be;
    height: 100%;
}
header {
    margin-top: 0px;
    text-align: right;
}

.main {
    text-align: center;
    top: 25%;
    left: 0;
    position: absolute;
    width: 100%;
    font-family: fantasy;
}



.bar {
    margin-top: 30px;
    color: gray;
    max-width: 70%;
    width: 600px;
    border: none;
    max-width: 90%;
    border-radius: 100px;
    padding: 10px;
    padding-left: 20px;
    font-size: medium;
}

.bar:focus, .bar:hover {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 200ms;
}


.btn {
    background-color: #2596be;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color:white;
    padding: 10px;
    margin: 2rem;
    cursor: pointer;
    border: 1px dashed white;
    


}
.btn:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: gray;
    transition: 200ms;
}

.btn:active{
    color: white;
}

h1{
    color: white;
    font-size: 4rem;
}

.noVal{
    position: absolute;
    top: -100%;
    opacity: 70%;
    padding: 10px;
    border-radius: 5px;
    background-color:aliceblue;
    max-width: 50%;
    color:#2596be;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: 300ms;
    -moz-transition: 300ms;
    -webkit-transition: 300ms;


}

.show{
    top: 10px;
}

.links{
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-family: fantasy;

}

.links:hover{
    text-decoration: underline;
}

hr{
    color: white;
    width: 100%;
    border-width: 0;
    height: 1px;
    background-color: white;
}

.grid{
    position: relative;
    display: grid;
    column-gap: 2%;
    grid-template:50px 50px 50px / 175px auto ;
    font-family: fantasy;
    font-size: small;
    color: white;
    width: 90%;
    max-width: 700px;
    margin: 0 auto;


}

input{
    width: 98%;
    border: 1px dashed white;
}

input:focus{
    outline: dashed white 1px;
}

h2{
    text-align: center;
    font-family: fantasy;
    color: whitesmoke;
}

.advBtn{
    float: right;
    right: 0;
    margin: 0;
}

.container{
    position:relative;
    width:90%;
    max-width: 700px;
    margin: 0 auto;
    background-color: white;
}